@font-face {
  font-family: "RegencieLight";
  src: url("../font/RegencieLight.ttf");
  font-style: normal;
}
@font-face {
  font-family: "HomepageBaukasten-Book";
  src: url("../font/HomepageBaukasten-Book.ttf");
  font-style: normal;
}
.mainss {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff5ee;
  margin-top: 100px;
  padding: 30px;
}
.link {
  padding-left: 30px;
  margin-top: 50px;
  font-size: 25px;
  width: 100%;
  height: 50px;
  margin-top: 100px;
  display: flex;
  font-family: "HomepageBaukasten-Book";
}
.span {
  color: #ff6606;
  margin-left: 20px;
  font-family: "HomepageBaukasten-Book";
}
.heading {
  margin-top: 40px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.head {
  width: 90%;
  height: 100%;

  font-size: 50px;
  font-weight: bold;
}
.paragraph {
  margin-top: 30px;

  height: 950px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.para {
  height: 100%;
  width: 90%;
  font-family: "Roboto";
  font-size: 18px;
}

.sec {
  margin-top: 50px;
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.pago {
  margin-top: 100px;
  height: 600px;
  width: 100%;
  display: flex;
  border: none;
  margin-left: 0px;
  justify-content: space-around;
}
.photo {
  height: 25%;
  margin-top: 50px;
  width: 50%;
}
.cheque {
  margin-top: 50px;
  border: #cecece 1px solid;
  width: 45%;
  height: 83%;
}

.fab {
  width: 100%;
  height: 1600px;
  display: flex;
  justify-content: space-around;
}
.fabb {
  width: 100%;
  height: 1050px;
  display: flex;
  justify-content: space-around;
}
.checkk {
  margin-top: 50px;
  border: #cecece 1px solid;
  width: 45%;
  height: 32%;
}
@media (max-width: 1025px) and (min-width: 768px) {
  .main {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff5ee;
  }
  .link {
    padding-left: 30px;
    margin-top: 50px;
    font-size: 20px;
    width: 100%;
    height: 50px;

    display: flex;
  }
  .span {
    color: #ff6606;
  }
  .heading {
    margin-top: 0px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .head {
    width: 90%;
    height: 100%;

    font-size: 30px;
    font-weight: bold;
  }
  .paragraph {
    margin-top: 30px;

    height: 800px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .para {
    height: 100%;
    width: 90%;

    font-size: 15px;
  }

  .sec {
    margin-top: 50px;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .pago {
    margin-top: 180px;
    height: 550px;
    width: 100%;
    display: flex;
    border: none;
    margin-left: 0px;
    justify-content: space-around;
  }
  .photo {
    height: 25%;
    margin-top: 50px;
    width: 100%;
    > img {
      width: 100%;
      height: 100%;
    }
  }
  .cheque {
    margin-top: 50px;

    width: 100%;
    height: 100%;
    > img {
      width: 100%;
      height: 100%;
    }
  }

  .fab {
    width: 100%;
    height: 1400px;
    display: flex;
    justify-content: space-around;
    margin-top: 150px !important;
  }
  .fabb {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    margin-top: 150px !important;
  }
  .checkk {
    margin-top: 50px;
    border: none;
    width: 40%;
    height: 25%;
  }
}
@media (max-width: 767px) {
  .mainss {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff5ee;
    padding: 0px;
    margin-top: 70px;
  }
  .link {
    padding-left: 0px;
    margin-top: 70px !important;
    font-size: 14px;
    width: 100%;
    height: 50px;

    display: flex;
  }
  .span {
    color: #ff6606;
  }
  .heading {
    margin-top: 0px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .head {
    width: 95%;
    height: 100%;

    font-size: 20px;
    font-weight: bold;
  }
  .paragraph {
    margin-top: 30px;
    margin-left: 0px;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 10px;

    padding: 0px;
  }
  .para {
    height: 100%;
    width: 90%;

    font-size: 10px;
  }

  .sec {
    margin-top: 50px;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .pago {
    margin-top: 0px;
    height: 450px;
    width: 100%;
    display: flex;
    border: none;
    margin-left: 0px;
    justify-content: space-around;
  }
  .photo {
    height: 15%;
    margin-top: 50px;
    width: 100%;
    display: block;

    padding: 0px;
    margin: 0px;
    > img {
      width: 100%;
    }
  }
  .cheque {
    margin-top: 50px;
    border: none;
    width: 40%;
    height: 60%;
  }

  .fab {
    width: 100%;
    height: 1300px;
    display: flex;
    justify-content: space-around;
  }
  .fabb {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: space-around;
  }
  .checkk {
    margin-top: 50px;
    border: none;
    width: 40%;
    height: 25%;
  }
}
